<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="appkey" value="qiwurobot" />
    <add key="appsecret" value="123456" />
    <add key="nickname" value="test" />
    <add key="appChannel" value="feli-tech-test" />
    <add key="privateKey" value="1c9f03b3-c920-4d68-b2cd-299a28557890" />
    <add key="aesKey" value="NY8iA0QYXVgsje5pcDiaUOwKsCSjEWlfGlXxJ/9KikY=" />
    <add key="aesIv" value="5a2wShLw7EWa8Fiw+cWYcQ==" />
    <add key="testPhone" value="15907558676" />
    <add key="defaultPhone" value="18910010086" />
    <add key="defaultSms" value="5025" />
    <add key="businessId" value="testBusinessId" />
    <add key="order_id" value="5d3fbbbf805fdf0001008d22" />
    <add key="orderId" value="f2019073011383932530193" />
    <add key="userToken" value="bc3727e4-6eb9-431c-bffc-9036520dedd1" />
    <add key="userRefreshToken" value="b1a0d0ff-8916-46dd-9463-a320a16211b2" />
    <add key="apiToken" value="57721700-4ee6-42be-960a-99287d597af7" />
    <add key="apiRefreshToken" value="4b54d05c-b73f-4f3c-a091-ac946ce4f976" />
  </appSettings>
    
</configuration>